/*Chapter9 Lab1
Nima
4/2/2020*/

body {
    background-color: #FFFFFF;
}

img {
    max-width: 100%;
}


#container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header {
    font-family: Verdana, Arial, serif;
    font-size: 2em;
    margin-top: 0.2em;
    background-color: #FFFFFF;
    border-radius: 0.5em;
    text-align: center;
}

nav {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

nav li {
    background-color: #FF6600;
    border-radius: 1em;
    list-style-type: none;
    margin: 0.3em;
    padding: 0.4em;
}


nav li a {
    color: #FFFFFF;
    text-decoration: none;
}

nav ul {
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


main {
    display: block;
    font-family: Georgia, "Times New Roman", sans-serif;
    font-size: 1em;
    margin-top: 0.2em;
    padding: 0.5em;
    border-top: solid 0.2em #FF6600;
    border-bottom: solid 0.2em #FF6600;
}


footer {
    font-size: .70em;
    text-align: center;
    margin-top: 2em;
}


.mobile {
    display: inline;
}

.desktop {
    display: none;
}

section {
    padding: 1%;
    text-align: center;
}

article {
    border-top: solid 0.2em #FF6600;
    padding: 2%;
    margin: 0.5%;
    text-align: left;
}

aside {
    text-align: center;
    color: #FFFFFF;
    background-color: #FF6600;
    font-size: 1.25em;
    margin: 1em;
    padding: 1em;
}

div p {
    padding-left: 1em;
    padding-right: 1em;
}

/*Form input and text area style*/
input, textarea {
    display: block;
    margin-bottom: 1em;
}

/*Form label style*/
label {
    display: block;
}

/*Video class style*/
.video {
    text-align: center;
    padding: 1em;
}

/*Video element style*/
video {
    border: 0.2em solid #FF6600;
    height: auto;
    max-width: 100%;
}


@media screen and (min-width: 481px) {
    img {
        width: 25%;
        float: left;
    }


    header p {
        margin-bottom: 4em;
        padding-top: 1.5em;
    }

    nav li {
        display: inline;
        float: left;
        margin-left: 1%;
        margin-right: 1%;
        padding-left: 0;
        padding-right: 0;
        width: 23%;
    }

    main {
        clear: left;
        margin-top: 12em;
    }

    section {
        background-color: #FF6600;
    }

    article {
        background-color: #FFFFFF;
        border-top: 0;
        border-radius: 0 3em 3em 3em;
        margin-bottom: 1em;
    }

    
    aside {
        text-align: center;
        color: #FF6600;
        background-color: #FFFFFF;
        box-shadow: 1em 1em 1em #000000;
        border-radius: 8em;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: inline;
    }

    
    table, th, td {
        border: solid 0.1em #FF6600;
        border-collapse: collapse;
        padding: 1em;
    }

    
    caption {
        font-size: 1.5em;
        padding-bottom: 1em;
    }

    
    label {
        float: left;
        padding-right: 0.5em;
        text-align: right;
        width: 8em;
    }
}

@media screen and (min-width: 769px) {
    #container {
        width: 80%;
    }

    nav {
        margin-top: -5em;
    }

   nav ul {
        margin: 0;
        padding-left: 0.50%;
        padding-right: 0.50%;
    }

    nav li {
        background-color: #FFFFFF;
        border-radius: 0;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        width: 18%;
    }

    nav li a {
        color: #FF6600;
        display: inline-block;
        padding: 0.7em;
        font-size: 1.25em;

    }

    nav li a:link {
        color: #FF6600;
    }

    nav li a:hover {
        color: #4C1F00;
        font-style: italic;
    }

    main {
        border: none;
        border-radius: 1em;
        box-shadow: 1em 1em 1em #331400;
        margin-top: 1em;
        overflow: auto;
    }

    section {
        float: left;
        width: 60%;
    }

    aside {
        float: right;
        width: 25%;
        background-color: #FF6600;
        color: #FFFFFF;
    }

    table {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
    }
}
